.Control {
  .result-box {
    background-color: white;
    border-radius: 1rem;
    padding: 0.5rem;
    overflow: scroll;
    // height: 60vh;
    // width: 2rem;
  }
  .controllers {
    width: 100%;
    button {
      width: 100%;
    }
  }
}
