:root {
  --background-color: #424250;
  --surface-color: #373740;
  --text-color: #e8e9f5;

  --light-green: #1eb980;
  --dark-green: #045d56;
  --orange: #ff6859;
  --yellow: #ffcf44;
  --purple: #b15dff;
  --blue: #72deff;
}
